#topBar .col-6{
    padding-top: 30px;
    padding-left:15px;
}

.navbar-brand{
    padding: 10px;
	background-color: darkred;
}

#form {
    background-image:url('../assets/background.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.opisGlowny {
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(12, 98, 145, 0.9);
    border-radius: 25px;
}

table {
	font-family: arial, sans-serif;
    width:100%;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

th, td {
  padding: 1em;
  background: #ddd;
  border-bottom: 2px solid blue;
}
