<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'alliance/allianceCss.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>CCPX</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="custom-center">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/miasto/city_list/"><i class="fas fa-list-ul"></i> City List</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../mapa/"><i class="fas fa-globe"></i> Map</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../wiadomosci/"><i class="fas fa-envelope"></i> Messages</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../raporty/"><i class="fas fa-envelope-square"></i> Reports</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../sojusz/"><i class="fab fa-rebel"></i> Alliance</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../rankingi/"><i class="fas fa-align-justify"></i> Rankings</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../profil/"><i class="fas fa-user-circle"></i> Profil</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../premium/"><i class="fas fa-yen-sign"></i> Premium</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <h1 class="text-center" style="font-family: 'Lobster', sans-serif; margin: 20px;"><u>Alliance</u></h1>

    <div class="container" style="width: 100%">
        <div class="row">
            <div class="col-lg-2 alliancePanel text-center">
                <p class="allianceText"><a href="../"><u>Your alliance</u></a></p>
                <p class="allianceText"><a href=""><u>Alliance list</u></a></p>
                {% if alliance_have == 0 %}
                    <p class="allianceText"><a href="../edycjaSojuszu"><u>Edit your alliance</u></a></p>
                    <p class="allianceText"><a href="../zaprosDoSojuszu"><u>Invite to your alliance</u></a></p>
                {% endif %}
            </div>
            <div class="col-lg-10 alliancePanel text-center">
                <table class="table table-hover table-borderless">
                    <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Members</th>
                    </tr>
                    </thead>
                    {% for alliance in alliances %}
                    <tr>
                        <td><a href='{{ alliance.id }}'>{{ alliance.name }}</a></td>
                        <td>{{ alliance.members.count }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>