{% extends 'alliance.html' %}

{% block showAlliance %}
<div class="row col-lg-12 alliancePanel">
    <div class="col-12"><a href='forum/{{ alliance.id }}'>Forum</a></div>
    <div class="col-12">
        <table class="table table-hover table-borderless">
            <thead class="thead-dark">
            <tr>
                <th>Name: {{ alliance.name }}</th>
                <th>Members: {{ alliance.members.count }}</th>
            </tr>
            </thead>
            {% for member in alliance.members.all %}
            <tr>
                <td>{{ member.username }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}