<!doctype html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'alliance/allianceCss.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>CCPX</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark center">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="custom-center">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/miasto/city_list/"><i class="fa fa-list-ul"></i> City List</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../../mapa/"><i class="fa fa-globe"></i> Map</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../../wiadomosci/"><i class="fa fa-envelope"></i> Messages</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../../raporty/"><i class="fa fa-envelope-square"></i> Raports</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../../sojusz/"><i class="fab fa-rebel"></i> Alliance</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../../rankingi/"><i class="fa fa-align-justify"></i> Rankings</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../../profil/"><i class="fa fa-user-circle"></i> Profil</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../../premium/"><i class="fas fa-yen-sign"></i> Premium</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
<h1 class="text-center" style="font-family:'Lobster'; margin: 20px;"><u>Alliance</u></h1>

<div class="container" style="width: 100%;">

    <div class="row">
        <div class="col-lg-2 alliancePanel text-center">
            <p class="allianceText"><a href="../"><u>Your alliance</u></a></p>
            <p class="allianceText"><a href="../listOfAlliances/"><u>Alliance List</u></a></p>
            <p class="allianceText"><a href="../edycjaSojuszu"><u>Edit your alliance</u></a></p>
            <p class="allianceText"><a href=""><u>Invite to your alliance</u></a></p>
        </div>
        <div class="col-lg-10 alliancePanel text-center">
            <h3>You can invite to your alliance here</h3>
            <form class="site-from" action="" method="post">
                {% csrf_token %}
                <p class="allianceLabel">Invite who ?: {{ form.receiver }}</p>
                <p>{{ form.receiver.errors.as_text }}</p>

                <p class="allianceLabel">Invitation title: {{ form.name }}</p>
                <p>{{ form.name.errors.as_text }}</p>

                <input type="submit" value="Invite" name="InviteForm">
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>