<!doctype html>
<html lang="en">
  <head>
      {% load static %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'cityMap/cityMapCss.css' %}">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>

      <script src="{% static 'cityMap/js/phaser.js' %}"></script>
      <script src="{% static 'cityMap/js/testTechTree.js' %}"></script>

      <script>
              var background = "{% static 'cityMap/assets/backgroundScience.jpg' %}";
              var barracks_2 = "{% static 'cityMap/assets/barracks_2.png' %}";
              var energy_2 = "{% static 'cityMap/assets/energy_2.png' %}";
              var farms_2 = "{% static 'cityMap/assets/farms_2_res.png' %}";
              var housing_2 = "{% static 'cityMap/assets/housing_2.png' %}";
              var mine_2 = "{% static 'cityMap/assets/mine_2.png' %}";
              var roads_2 = "{% static 'cityMap/assets/roads_2_res.jpg' %}";
              var town_hall_2 = "{% static 'cityMap/assets/town_hall_2.png' %}";
              var town_hall_3 = "{% static 'cityMap/assets/town_hall_3.png' %}";
              var infoPanel = "{% static 'cityMap/assets/infoPanelTech.png' %}";
              var infoPanel2 = "{% static 'cityMap/assets/infoPanelTech2.png' %}";
              var lvlfarms = {{city.farms}};
              var lvlroads = {{city.roads}};
              var lvltownHall = {{city.town_hall}};
              var lvlbarracks = {{city.barracks}};
              var lvlpowerPlant = {{city.power_plant}};
              var lvlmine = {{city.mines}};
              var lvlhousing = {{city.housing}};

              var researchTH1 = {{city.research_th1}};
              var researchTH2 = {{city.research_th2}};
              var researchM = {{city.research_m}};
              var researchF = {{city.research_f}};
              var researchPP = {{city.research_pp}};
              var researchR = {{city.research_r}};
              var researchH = {{city.research_h}};
              var researchB = {{city.research_b}};
      </script>
      <title>CCPX</title>
  </head>
  <body>
      <div class="container">
          <nav class="navbar navbar-expand-lg navbar-dark center">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="custom-center">
                  <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                          <li class="nav-item active">
                              <a class="nav-link" href="/miasto/city_list/  "><i class="fas fa-list-ul"></i> City List</a>
                          </li>
                          <li class="nav-item active">
                              <a class="nav-link" href="../../../mapa/"><i class="fas fa-globe"></i> Map</a>
                          </li>
                          <li class="nav-item active">
                              <a class="nav-link" href="../../../wiadomosci/"><i class="fas fa-envelope"></i> Messages</a>
                          </li>
                          <li class="nav-item active">
                              <a class="nav-link" href="../../../raporty/"><i class="fas fa-envelope-square"></i> Reports</a>
                          </li>
                          <li class="nav-item active">
                              <a class="nav-link" href="../../../sojusz/"><i class="fab fa-rebel"></i> Alliance</a>
                          </li>
                          <li class="nav-item active">
                              <a class="nav-link" href="../../../rankingi/"><i class="fas fa-align-justify"></i> Rankings</a>
                          </li>
                          <li class="nav-item active">
                              <a class="nav-link" href="../../../profil/"><i class="fas fa-user-circle"></i> Profil</a>
                          </li>
                          <li class="nav-item active">
                              <a class="nav-link" href="../../../premium/"><i class="fas fa-yen-sign"></i> Premium</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>
      </div>
      <h3 class="font-weight-bold text-center"><u><a href="../../../../../../"><button class="mainPageLink">Main Page</button></a></u></h3>
      <h1 class="text-center" style="font-family: 'Lobster', sans-serif; margin: 20px;"><u>Science center</u></h1>
      <div class="container">
          <div class="row mainBody">
              <div class="col-12"><h3 class="font-weight-bold text-center"><u><a href="../"><button class="mainPageLink">Back to city</button></a></u></h3></div>
              <div class="col">
              </div>
              <div class="col" id="techTreeRenderDiv">
              </div>
              <div class="col">
              </div>
          </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>