html{ 
    height:100%; 
}

body {
    background: url('sci_fi_space_station_wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height:100%;
    padding-bottom: 160px;
    position: relative;
}

nav {
    background: url('../cityMap/assets/yellowBackground3.png');
    background-size: 100%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    font-family: 'Lobster', sans-serif;
}

.custom-center {
    margin: auto;
}

nav li:hover {
    background: #785800;
    border-radius: 25%;
}

nav li {
    margin-left: 20px;
    margin-right: 20px;
}

.jumbotron {
    padding-top: 20px;
    font-family: 'Lobster', sans-serif;
    background: none;
    color: black;
    height: 200px;
}

#mainPageContainer {
    margin-top: 30px;
}

.infoPanel {
    padding: 5px;
	color:#b1aca1;
    margin-top: 10px;
    font-family: 'Lobster', sans-serif;
    background: rgba(0, 0, 0, 0.7);
}
a, a:hover{
    color: #dca600;
}

.registerPanel {
    background: url('registerPanel.png') no-repeat;
    background-size: 100% 100%;
    color: white;
    font-family: 'Lobster', sans-serif;
    padding: 30px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc;
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color: #7bc2f7;
}

.loginFormPanel {
    background: url('registerPanel.png') no-repeat;
    background-size: 100% 100%;
    color: white;
    font-family: 'Lobster', sans-serif;
}

.loginFormPanel table, th, td {
    border: 2px solid black;
}

#span1, #span3, #span5, #span7 {
    cursor: pointer;
    display: block;
    border: 2px solid black;
}

#span2, #span4, #span6, #span8 {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    cursor: pointer;
}

#span2 img, #span4 img, #span6 img, #span8 img {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=submit] {
    background-color: darkred;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #bc0101;
}

button {
    background-color: #8b0000;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #bc0101;
}

.copyright{
    background-color:#f0f0f0;
}

footer{
    background: rgba(0, 0, 0, 0.8);
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 10px;
    position:absolute;
    bottom:0;
    width:100%;
}

footer .menu li a{
	color:#b1aca1;
    padding: 10px;
    text-decoration:none;
}

footer .menu li a:hover{
	color:#7dabdb;
}
footer .fa.fa-facebook ,
footer .fa.fa-twitter {
	color:#b1aca1;
	font-size:20px;
	padding:10px;
}

footer .fa.fa-facebook:hover,
footer .fa.fa-twitter:hover {
	color:#6794c2;
}
