body {
    background: url('../cityMap/assets/yellowBackground2.png') no-repeat center center fixed;
    background-size: cover;
}

nav {
    background: url('../cityMap/assets/yellowBackground3.png');
    background-size: 100%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    font-family: 'Lobster';
}

.custom-center {
    margin: auto;
}

nav li:hover {
    background: #785800;
    border-radius: 25%;
}

nav li {
    margin-left: 20px;
    margin-right: 20px;
}

.profilePanel {
    background-color: rgb(223, 206, 162);
    border: 15px solid transparent;
    border-image: url('../cityMap/assets/border8.png') 30 round;
    height: 100%;
    margin-top: 20px;
}

.profilePanel h3 {
    font-family: 'Lobster';
    margin-bottom: 20px;

}

.profileLabel {
    font-family: 'Lobster';
    font-size: 1.2em;
    color: black;
}

.profileImage {
    border: 10px solid transparent;
    border-image: url('../cityMap/assets/border3.png') 30 round;

}
.profileText a {
    font-family: 'Lobster';
    font-size: 1.2em;
    color: black;
}

.profileText a:hover {
    background: #785800;
    border-radius: 25%;
}

input[type=submit] {
    background-color: darkred;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Lobster';
}

input[type=submit]:hover {
    background-color: #bc0101;
}




