{% extends 'messagess.html' %}

{% block showMessages %}
    
        <h3>Received messagess</h3>
        <table>
            
            <tr>
                <th scope="col">Author</th>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Have seen?</th>
            </tr>
            
            
            {% for message in messages %}

            <tr>
                <td>{{ message.author }}</td>
                <td><a href='{{ message.id }}'>{{ message.title }}</a></td>
                <td>{{ message.created_date }}</td>
                <td>{{ message.have_seen }}</td>
            </tr>
			
            {% endfor %}
            
        </table>
    </div>
{% endblock %}