{% extends 'messagess.html' %}

{% block showMessages %}
    <div class="row col-lg-12 messagePanel">
        <h3 class="h3 custom-center font-weight-bold"><u>Received messagess
        </u></h3>
        <table class="table table-hover table-borderless">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Author</th>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Have seen?</th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages %}

            <tr>
                <td>{{ message.author }}</td>
                <td><a href='{{ message.id }}'>{{ message.title }}</a></td>
                <td>{{ message.created_date }}</td>
                <td>{{ message.have_seen }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}