<!doctype html>
<html lang="en">
<head>
    {% load static %}
</head>
<body>
            <p class="messageText"><a href="../napisz/"><u>New Message</u></a></p>
            <p class="messageText"><a href="../"><u>Received Messages</u></a></p>
            <p class="messageText"><a href=""><u>Your messages</u></a></p>


        
                <h3 class="h3 custom-center font-weight-bold"><u>Your messagess
                </u></h3>
                <table class="table table-hover table-borderless">
                    <thead class="thead-dark">
                    <tr>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    {% for message in messages %}
                    <tr>
                        <td>{{ message.author }}</td>
                        <td><a href='../{{ message.id }}'>{{ message.title }}</a></td>
                        <td>{{ message.created_date }}</td>
                    </tr>
                    {% endfor %}
                </table>
</body>
</html>