<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'raports/raportsCss.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>CCPX</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="custom-center">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/miasto/city_list/  "><i class="fas fa-list-ul"></i> City List</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../mapa/"><i class="fas fa-globe"></i> Map</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../wiadomosci/"><i class="fas fa-envelope"></i> Messages</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../raporty/"><i class="fas fa-envelope-square"></i> Reports</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../sojusz/"><i class="fab fa-rebel"></i> Alliance</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../rankingi/"><i class="fas fa-align-justify"></i> Rankings</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../profil/"><i class="fas fa-user-circle"></i> Profil</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../premium/"><i class="fas fa-yen-sign"></i> Premium</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <h1 class="text-center" style="font-family: 'Lobster', sans-serif; margin: 20px;"><u>Reports </u></h1>

    <div class="container">
        <div class="row">
            <div class="col-lg-2 raportPanel text-center">
                <p class="raportText"><a href="../"><u>Reports list</u></a></p>
            </div>

            <div class="col-lg-9 raportPanel text-center">
                {% if type_of_raport == 0 %}
                <div class="row col-lg-12 raportPanel">
                    <table class="table table-hover table-borderless">
                        <tr>
                            <td>Attacking city: {{ raport.cityA }}</td>
                            <td>Attacking player: {{ raport.attacker }}</td>
                        </tr>
                        <tr>
                            <td>Defending city: {{ raport.cityD }}</td>
                            <td>Defending player: {{ raport.defender }}</td>
                        </tr>
                        <tr>
                            <td>Date: {{ raport.created_date }}</td>
                        </tr>
                    </table>
                </div>
                <div class="row col-lg-12 raportPanel">
                    <table class="table table-hover table-borderless">
                        <tr>
                            <th>Stolen Minerals</th>
                            <th>Stolen Energy</th>
                            <th>Stolen Food</th>
                        </tr>
                        <tr>
                            <td>{{ raport.stolen_minerals }}</td>
                            <td>{{ raport.stolen_energy }}</td>
                            <td>{{ raport.stolen_food }}</td>
                        </tr>
                    </table>
                </div>
                <div class="row col-lg-12 raportPanel">
                    <table class="table table-hover table-borderless">
                        <tr>
                            <td style="font-size: 1.2em; font-family: 'Lobster', sans-serif;">Attacking Forces</td>
                        </tr>
                        <tr>
                            <td>Infantry</td>
                            <td>Heavy Infantry</td>
                            <td>Motorized</td>
                            <td>Light Tanks</td>
                            <td>Heavy Tanks</td>
                            <td>Planes</td>
                        </tr>
                        <tr>
                            <td>{{ infantryA }}</td>
                            <td>{{ hinfantryA }}</td>
                            <td>{{ motorizedA }}</td>
                            <td>{{ ltanksA }}</td>
                            <td>{{ htanksA }}</td>
                            <td>{{ planesA }}</td>
                        </tr>
                        <tr>
                            <td>- {{ raport.infantryAS }}</td>
                            <td>- {{ raport.hinfantryAS }}</td>
                            <td>- {{ raport.motorizedAS }}</td>
                            <td>- {{ raport.ltanksAS }}</td>
                            <td>- {{ raport.htanksAS }}</td>
                            <td>- {{ raport.planesAS }}</td>
                        </tr>
                        <tr>
                            <td>{{ raport.infantryA }}</td>
                            <td>{{ raport.hinfantryA }}</td>
                            <td>{{ raport.motorizedA }}</td>
                            <td>{{ raport.ltanksA }}</td>
                            <td>{{ raport.htanksA }}</td>
                            <td>{{ raport.planesA }}</td>
                        </tr>
                        <tr>
                            <td style="font-size: 1.2em; font-family: 'Lobster', sans-serif;">Defending Forces</td>
                        </tr>
                        <tr>
                            <td>Infantry</td>
                            <td>Heavy Infantry</td>
                            <td>Motorized</td>
                            <td>Light Tanks</td>
                            <td>Heavy Tanks</td>
                            <td>Planes</td>
                        </tr>
                        <tr>
                            <td>{{ infantryD }}</td>
                            <td>{{ hinfantryD }}</td>
                            <td>{{ motorizedD }}</td>
                            <td>{{ ltanksD }}</td>
                            <td>{{ htanksD }}</td>
                            <td>{{ planesD }}</td>
                        </tr>
                        <tr>
                            <td>- {{ raport.infantryDS }}</td>
                            <td>- {{ raport.hinfantryDS }}</td>
                            <td>- {{ raport.motorizedDS }}</td>
                            <td>- {{ raport.ltanksDS }}</td>
                            <td>- {{ raport.htanksDS }}</td>
                            <td>- {{ raport.planesDS }}</td>
                        </tr>
                        <tr>
                            <td>{{ raport.infantryD }}</td>
                            <td>{{ raport.hinfantryD }}</td>
                            <td>{{ raport.motorizedD }}</td>
                            <td>{{ raport.ltanksD }}</td>
                            <td>{{ raport.htanksD }}</td>
                            <td>{{ raport.planesD }}</td>
                        </tr>
                    </table>
                </div>
                {% endif %}

                {% if type_of_raport == 1 %}
                <table class="table table-borderless table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Sender</th>
                            <th>Alliance Name</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>{{ raport.sender }}</td>
                        <td>{{ raport.alliance.name }}</td>
                        <td>{{ raport.created_date }}</td>
                    </tr>
                </table>
                <form>
                    <input type="button" value="Accept invite" onclick="window.location.href='invite/'"/>
                </form>
                {% endif %}

                {% if type_of_raport == 2 %}
                <table class="table table-borderless table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Sender</th>
                            <th>Name</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>{{ raport.sender }}</td>
                        <td>{{ raport.name }}</td>
                        <td>{{ raport.created_date }}</td>
                    </tr>
                </table>
                {% endif %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>