{% extends 'profileUser.html' %}
{% load static %}
{% block showProfile %}
<div class="col-lg-12 text-center">
    {% if not profil.profile_pic %}
    <img height="350" width="220" src="{% static 'profileUser/defaultProfilePic.jpg' %} " alt="Profile pic" class="profileImage"/>
    {% else %}
    <img height="350" width="220" src='https://storage.googleapis.com/solwit-pjatk-arc-2018-gr1.appspot.com/{{ profil.profile_pic }}' alt="Profile pic" class="profileImage"/>
    {% endif %}
    <table class="custom-center">
        <tr><td><p class="profileLabel">Username:</td> <td><span style="color: darkblue">{{ user.username }}</span></td></tr>
     <tr><td><p class="profileLabel">Alliance:</td> <td><span style="color: darkblue">{{ profil.alliance }}</span></td></tr>
     <tr><td><p class="profileLabel">E-mail:</td> <td><span style="color: darkblue">{{ user.email }}</span></td></tr>
    </table>
</div>
<div class="col-lg-12 text-center">
    <p class="profileLabel">Bio: <span style="color: darkblue">{{ profil.bio }}</span></p>
</div>
{% endblock %}