<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'profileUser/profileUserCss.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>CCPX</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="custom-center">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/miasto/city_list/"><i class="fas fa-list-ul"></i> City List</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../mapa/"><i class="fas fa-globe"></i> Map</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../wiadomosci/"><i class="fas fa-envelope"></i> Messages</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../raporty/"><i class="fas fa-envelope-square"></i> Reports</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../sojusz/"><i class="fab fa-rebel"></i> Alliance</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../rankingi/"><i class="fas fa-align-justify"></i> Rankings</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../profil/"><i class="fas fa-user-circle"></i> Profil</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../../premium/"><i class="fas fa-yen-sign"></i> Premium</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <h1 class="text-center" style="font-family: 'Lobster', sans-serif; margin: 20px;"><u>Profile </u></h1>

    <div class="container">
        <div class="row">
            <div class="col-2 profilePanel text-center">
                <p class="profileText"><a href="">Edit Profile</a></p>
                <p class="profileText"><a href="podgladProfil/">Your profile</a></p>
            </div>
            <div class="col-10 profilePanel text-center">
                <form action='' method='POST' enctype='multipart/form-data'>
                    {% csrf_token %}
                    <p class="profileLabel">Current image:</p>
                    {% if not profil.profile_pic %}
                    <img height="350" width="220" src="{% static 'profileUser/defaultProfilePic.jpg' %} " alt="Profile pic" class="profileImage"/>
                    {% else %}
                    <img height="350" width="220" src='https://storage.googleapis.com/solwit-pjatk-arc-2018-gr1.appspot.com/{{ profil.profile_pic }}' alt="Profile pic" class="profileImage"/>
                    {% endif %}
                    <p class="profileLabel" style="margin-top: 10px;">Change you avatar: {{ profile_form.profile_pic }}</p>
                    <p>{{ profile_form.profile_pic.errors.as_text }}</p>
                    <p class="profileLabel">Change your bio:</p>
                    <p> {{ profile_form.bio }}</p>
                    <p>{{ profile_form.bio.errors.as_text }}</p>
                    <input type="submit" value="Change" name="change_profil">
                </form>
            </div>

            <div class="col-2"></div>
            <div class="col-10 profilePanel text-center">
                <div class="custom-center">
                    <form class="site-from" action="" method="post">
                        {% csrf_token %}
                        <p class="profileLabel">After change the game will logout you.</p>
                        <p class="profileLabel">Change your password:</p>
                        <table class="custom-center">
                            <tr>
                                <td><span class="profileLabel">Old Password:</span></td>
                                <td>{{ password_form.old_password }}</td>
                            </tr>
                            <tr><span>{{ password_form.old_password.errors.as_text }}</span></tr>
                            <tr>
                                <td><span class="profileLabel">New Password:</span></td>
                                <td> {{ password_form.new_password1 }}</td>
                            </tr>
                            <tr><span>{{ password_form.new_password1.errors.as_text }}</span></tr>
                            <tr>
                                <td><span class="profileLabel">Repeat new password:</span></td>
                                <td> {{ password_form.new_password2 }}</td>
                            </tr>
                            <tr><span>{{ password_form.new_password2.errors.as_text }}</span></tr>
                        </table>
                        <input type="submit" value="Change" name="change_password">
                    </form>
                </div>
            </div>

            <div class="col-2"></div>
            <div class="col-lg-10 profilePanel text-center">
                <form class="site-from" action="" method="post">
                    {% csrf_token %}
                    <p class="profileLabel ">Change your email:</p>
                    <p>{{ email_form.email.errors.as_text }}</p>
                    <p class="profileLabel">New E-mail: {{ email_form.email }}</p>
                    <input type="submit" value="Change" name="change_email">
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        window.onload = function () {
            jQuery('input[type=text]').blur();
        };
    </script>
</body>
</html>